<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--引入spring配置-->
	<import resource="classpath:application.xml" />


	<!--<import resource="classpath:freemarker.xml" />-->

	<!-- SpringMVC 开启注解扫描 -->
	<context:component-scan base-package="com.ax.spring.controller;com.ax.spring.listener" />


	<!-- SpringMVC 支持注解驱动-->
	<mvc:annotation-driven>

		<mvc:message-converters register-defaults="true">

			<!--使用阿里巴巴json解析springMVC返回值-->
			<bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<!-- 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 -->
						<value>text/html; charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
						<!--解决中文问题-->
						<value>*/*;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>

	</mvc:annotation-driven>





	<!--<mvc:annotation-driven>-->

		<!--&lt;!&ndash;配置 返回string 时中文及类型&ndash;&gt;-->
		<!--<mvc:message-converters>-->

			<!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
				<!--&lt;!&ndash;解决中文问题&ndash;&gt;-->
				<!--<constructor-arg value="UTF-8" index="0">-->
				<!--</constructor-arg>-->
				<!--<property name="supportedMediaTypes">-->
					<!--<list>-->
						<!--<value>application/json;charset=UTF-8</value>-->
						<!--&lt;!&ndash;解决中文问题&ndash;&gt;-->
						<!--<value>*/*;charset=UTF-8</value>-->
					<!--</list>-->
				<!--</property>-->
			<!--</bean>-->
			<!---->
		<!--</mvc:message-converters>-->

	<!--</mvc:annotation-driven>-->


	<!-- SpringMVC 支持对静态资源的处理 -->
	<mvc:default-servlet-handler/>

	<!--SpringMVC 配置视图解析器 和 freemarker 不能同时存在-->

	<!-- SpringMVC 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<!---->
		<property name="suffix" value=".jsp"/>
		<!--网页返回json格式-->
		<!--<property name="contentType" value="application/json;charset=UTF-8"/>-->
		<!--<property name="contentType" value="text/json"/>-->
		<property name="contentType" value="text/html"/>

		<property name="order" value="0"/>
	</bean>




	<!-- SpringMVC 上传解析器 -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为1MB -->
		<property name="maxUploadSize">
			<value>1024000000</value>
		</property>
	</bean>


   <!--配置拦截器-->
	<mvc:interceptors>

		<mvc:interceptor>
			<mvc:mapping path="/account/**" />
			<bean class="com.ax.spring.inteceptor.UserInfoInteceptor"></bean>
		</mvc:interceptor>

		<mvc:interceptor>
			<mvc:mapping path="/register/**"/>
			<bean class="com.ax.spring.inteceptor.RegisterInteceptor"></bean>
		</mvc:interceptor>

		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/*" />-->
			<!--<bean class="com.ax.spring.inteceptor.BaseInteceptor"></bean>-->
		<!--</mvc:interceptor>-->

	</mvc:interceptors>






</beans>


