<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html;charset=UTF-8" >
    <!--<link rel="shortcut icon" href="//www.suning.com/favicon.ico" type="image/x-icon">-->
    <!--<link rel="shortcut icon" href="/favicon.ico"/>-->
    <title>首页</title>

</head>

<body>
我是首页
</body>




<script type="text/javascript"  src="/static/js/plugins/bootstrap-4.2.1.min.js"></script>

<!--<link rel="stylesheet" type="text./css"  href="css/service/base.css"/>-->

<!--css-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/static/css/plugins/bootstrap-4.2.1.min.css}">-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/static/css/service/base.css}"/>-->

<link rel="stylesheet" type="text/css" href="static/css/plugins/bootstrap-4.2.1.min.css">
<link rel="stylesheet" type="text/css" href="static/css/service/base.css"/>

</html>